<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html" http-equiv="content-type">
  </head>
  <body>
    <h1>Welcome to 99 Cats!</h1>
    <p>Thank you for signing up for our cat facts newsletter.</p>
    <p>To log in, follow this link: <%= @url %> </p>
  </body>
</html>
