<h1>New Band Form</h1>
<form class="container" action="<%= bands_url %>" method="post">
  Name: <input type="text" name="band[name]">
  <input class="button" type="submit" name="" value="Create Band">
</form>
